# .gitignore for Grails 1.2 and 1.3

grailsw
grailsw.bat

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target

/.idea

*.iml

grails-app/assets/images/apple-touch-icon-retina.png

grails-app/assets/images/apple-touch-icon.png

grails-app/assets/images/favicon.ico

grails-app/assets/images/grails_logo.png

grails-app/assets/images/skin/database_add.png

grails-app/assets/images/skin/database_delete.png

grails-app/assets/images/skin/database_edit.png

grails-app/assets/images/skin/database_save.png

grails-app/assets/images/skin/database_table.png

grails-app/assets/images/skin/exclamation.png

grails-app/assets/images/skin/house.png

grails-app/assets/images/skin/information.png

grails-app/assets/images/skin/shadow.jpg

grails-app/assets/images/skin/sorted_asc.gif

grails-app/assets/images/skin/sorted_desc.gif

grails-app/assets/images/spinner.gif

grails-app/assets/images/springsource.png

grails-app/assets/stylesheets/application.css

grails-app/assets/stylesheets/errors.css

grails-app/assets/stylesheets/main.css

grails-app/assets/stylesheets/mobile.css
