/*.blues {
    very-light: #dde2ff
    light:      #005082;
    dark:       #122071;
    very-dark:  #191d53;
}*/

.show-grid [class*="col-"] {
    background-color: blue;
}

a:hover, a:focus {
    color: #005082;
}

h4 {
    color: #005082;
}

.heading-large {
    color: #005082;
}

.heading-underlined {
    border-color: #005082;
}

.navbar-default .navbar-nav > li > a {
    color: #005082;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #122071;
}

.navbar-default .navbar-brand {
    color: #005082;
}

.navbar-default .navbar-brand:hover {
    color: #122071;
}

.breadcrumb > .active {
    color: #005082;
}

.btn-default {
    background-color: #fff;
    border-color: #005082;
    color: #005082;
}

.btn-primary {
    background-color: #005082;
    border-color: #005082;
    color: #FFFFFF;
}

.btn-default:hover {
    border-color: #122071;
    color: #122071;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #122071;
    border-color: #122071;
}

.main-stats__stat {
    border-color: #dde2ff;
}

.main-stats > div:last-child {
    border-color: #dde2ff;
}

.main-stats .main-stats__stat {
    border-color: #dde2ff;
}

.nav-tabs > li.active > a {
    color: #005082;
    border: 1px solid #005082;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #005082;
}

.pagination > li > a, .pagination > li > span {
    color: #005082;
    background-color: #fff;
    border: 1px solid #005082;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #005082;
    border-color: #005082;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #005082;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #122071;
    background-color: #eee;
    border-color: #122071;
}

footer p.lead {
    color: #005082;
    font-size: 24px;
}

.main-footer-border {
    border-top-color: #005082;
}

a {
    color: #191d53;
}

.well, .panel {
    border-color: #dde2ff;
}

.panel-footer {
    border-top-color: #dde2ff;
}