.scientific-name {
    font-style: italic;
}

.normal-text {
    font-style: normal;
}

.collection-thumbnail {
    width: 160px;
    height: 100px
}

accordion > div.panel-group > div.panel > div.panel-heading, .panel-title > a > a {
    /*color: #e9004a;*/
}

accordion > div.panel-group > div.panel {
    border: 1px solid white;
}

accordion > div.panel-group, #search {
    margin-bottom: 0px !important;
}

accordion > div.panel-group > div.panel > div.panel-heading {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 15px;
    padding-bottom: 15px;
}

accordion > div.panel-group > div.panel > div.panel-collapse > div.panel-body {
    background-color: #f8f8f8;
    border: none;
    color: #e9004a;
    padding: 1px;
}

.accordion-item {
    border-bottom: 1px solid #e7e7e7;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.accordion-item > a {
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.6em;
}

.panel-title > a > .caret {
    float: right;
    margin: 9px 5px 0;
}

.single-line-editor > .ta-editor {
    min-height: 50px !important;
    height: 50px !important;
}

#citationHtml > .ta-editor{
    height: 100px !important;
    min-height: 100px !important;
}

.inline-block, .single-line-editor > .inline-block {
    display: inline-block !important;
}

.inline {
    display: inline;
}

.square {
    width: 1.5em;
    max-width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    min-height: 1.5em;
    max-height: 1.5em;
    display: inline-block;
}

.column-item {
    display: inline-block;
    width: 33%;
    padding: 5px;
}

.newItem {
    font-style: italic;
}

input[type=file] {
    display: inline-block;
}

.small, .small * {
    font-size: 12px !important;
}

.display-text {
    white-space: pre-wrap;
}

.annotation {
    font-weight: 200;
    font-size: 12px;
}

.citation {
    color: #999999;
    padding-bottom: 3px;
}

.citation:before {
    content: '\2014 \00A0';
}

.citation-example p {
    display: inline;
}

.citation-example > p {
    display: block;
}

.attribute-header-input {
    font-weight: bold;
}

/* Species status icons */
.status {
    height: 40px;
    width: 40px;
    margin: 0 6px 12px 0;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    color: #333a3f;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em; /* Opera 10.5, IE 9 */
    font-variant: small-caps;
    border: 1px solid #3d464c;
    background-color: #fff;
}

.status.small {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 8px;
}

.status.green {
    background-color: #43c205;
    border-color: #43c205;
    color: #fff;
}

.status.yellow {
    background-color: #ffbb00;
    border-color: #ffbb00;
}

.status.red {
    background-color: #e30202;
    border-color: #e30202;
    color: #fff;
}

hr.comment-divider {
    border-top: 1px solid #fa6158;
}

.float-bottom-left {
    bottom: 10px;
    left: 10px;
    position: fixed;
}

.admin-message {
    text-align: center;
}

.admin-message-text {
    font-size: 24px;
}

.customizable-logo-img {
    max-width: 275px;
    margin: 0 auto;
}

.comparison-row {
    margin-top: 10px;
    padding-top: 10px;
}

.comparison-divider {
    border-top: 1px solid #eeeeee;
    padding-top: 5px;
}

.comparison-image {
    display: inline-block;
    margin: 2px 4px 2px 0;
    width: 100%;
}

.comparison-image img {
    height: 100px;
    /*min-width: 50px;*/
}

.minor-heading {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 3px;
    display: inline-block;
}

.output-label {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    text-align: right;
    font-weight: bold;
    display: inline-block;
    padding-right: 15px;
}

.nomenclature .concept {
    font-weight: bold;
    display: inline-block;
}

.nomenclature a, .nomenclature a:focus, .nomenclature a:hover {
    margin-left: -10px;
    text-decoration: none;
}

.nomenclature .concept-detail {
    padding-left: 30px;
}

.nomenclature .nsl-link {
    display: inline-block;
    font-size: smaller;
    padding-left: 10px;
}

.nomenclature .apc {
    display: inline-block;
    color: green;
    padding-left: 10px;
    padding-right: 20px;
}

/* ---- */

/* Gallery styling */
.imgCon, .imgConLarge, .imgConSmall {
    display: inline-block;
    margin: 2px 4px 2px 0;
    width: 100%;
}

.imgConLarge {
     max-height: 500px;
     overflow-y: scroll;
 }

.imgCon img {
    height: 200px !important;
    min-width: 180px !important;
}

.imgConSmall img {
    max-width: 150px !important;
    min-width: 150px !important;
}

.imgConLarge img {
    max-width: 100%;
    min-width: 300px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgCon.thumbnail {
}

.primary-image {
    display: inline-block;
    width: 100%;
}

.primary-image div img {
    height: 300px;
    min-width: 250px;
}

.primary-image p {
    height: 290px;
    min-width: 250px;
}

.upload-image-preview, .upload-image-preview img {
    height: 100px;
}

.thumbnail {
    margin-bottom: 0;
}

.caption {
    font-size: 12px;
    text-transform: none;
    margin: 0 !important;
    padding: 0 !important;
}

/* ---- */

/* audit history diff */

ins, .diff_insert {
    background-color: lightgreen !important;
    font-style: italic;
}

del, .diff_delete {
    background-color: orange !important;
    text-decoration: line-through;
}

/* ---- */

/* NSL CSS overrides */
editor, .toggleNext, a > apc, apnilink, a > i.fa-search {
    display: none;
}

.well.instances {
    background: white;
}

/* ---- */

/* Theme overrides */

#banner-image {
    background-size: 100%;
    min-height: 100px;
    background-position: center center;
}

.side-menu .navbar-header {
    border: none;
}

.jumbotron {
    margin: 5px 0;
}

.heading-large {
    margin-top: 0.5em;
}

.main-footer {
    margin-top: 0;
}

.zero-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.section-panel-heading {
    margin-bottom: 0;
    margin-top: 5px;
}

.section-no-para {
    padding-left: 15px;
}

.section-heading {
    margin-left: 0;
}

.margin-top-1 {
    margin-top: 10px;
}

.margin-top-2 {
    margin-top: 20px;
}

.margin-bottom-3 {
    margin-bottom: 150px;
}

.dropdown-menu {
    z-index: 9999;
}

.no-icon-menu-item {
    padding-left: 20px;
}

.panel {
    margin-bottom: 10px;
}

.panel ul {
    padding-left: 35px;
}

.panel-body {
    padding: 5px 15px 5px 15px;
}


.panel .panel-heading {
    border-bottom: 1px solid rgba(0, 135, 190, 0.2);
    padding: 5px 15px 8px 15px;

}

.panel > .panel-body {
    padding-top: 1.2em;
}

#primary-nav.navbar {
    padding-top: 0px;
    min-height: 50px;
}

.main-stats > div:last-child {
    border: 1px solid rgba(233, 0, 74, 0.2);
}

.main-stats .main-stats__stat {
    text-align: center;
    border: 1px solid rgba(233, 0, 74, 0.2);
    overflow: auto;
}

.stat__number {
    font-size: 12px;
    min-height: 35px;
    max-height: 35px;
    margin-top: 0;
}

.stat__title {
    min-height: 35px;
    max-height: 35px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.main-stats__stat {
    padding: 5px;
    border: 1px solid rgba(233, 0, 74, 0.2);
}

.heading-underlined {
    margin-bottom: 10px;
}

.black {
    color: black;
}

/**
 * Angular uses ng-cloak to hide dynamic content until the data is available. This causes screen flicker that shows the {{}} tags.
 * Angular (as per best practise) is loaded at the bottom of the page. The CSS it uses to hide dynamic content in in-lined in the AngularJS script file, so it also loads at the bottom of the page.
 * This means that even with ng-cloak we still get the flicker.
 *
 * Our CSS is loaded earlier, so we can specify the rule here and avoid most of the flicker.
 */
[ng-cloak] {
    display: none !important;
}

/**
 * date picker styling to match with page style. adding bootstrap well and well-sm
 */

.fallback-date-picker ul.dropdown-menu,
ul.dropdown-menu[datepicker-popup-wrap] {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.fallback-date-picker .btn-default {
    border:  1px solid #ccc;
}

.fallback-date-picker .btn.active {
    border:  1px solid #ccc;
    background-color: #39b3d7;
    color: black;
}

input.form-control:focus + ul.dropdown-menu + span.input-group-btn > .btn-default,
input.form-control:focus + span.input-group-btn > .btn-default {
    border-color: #66AFE9;
    outline: 0 none;
}

.selected {
    background-color: white;
}

.border-top-bottom {
    border-top: solid 1px lightgray;
}

.archive-comment {
    margin: 20px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
}

.archived-publication {
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 20px;
}

.single-tabbed-panel .nav-tabs li {
    display: none;
}

.nav-tabs {
    margin-bottom: 15px;
    margin-top: 15px;
}

#generalAlert {
    position: fixed;
    top: 50px;
    z-index: 9999;
    width: 100%;
    text-align: center;
}

#generalAlert div.alert {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 1.2em;
    line-height: 1.2em;
    border-width: 2px;
    -webkit-box-shadow: 6px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 6px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 6px 5px 5px 0px rgba(50, 50, 50, 0.5);
}

.status-marker-small {
    font-size: 10px;
    margin-left: 5px;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.div-centre {
    min-width: 180px;
    margin: 0 auto;
}

.compact-label {
    width: auto;
}

.screen-reader-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.cke_button__plusminus_icon,
.cke_button__endash_icon,
.cke_button__male_icon,
.cke_button__female_icon,
.cke_button__sourcedialog_label {
    display: none !important;
}

.cke_button__plusminus:before,
.cke_button__endash:before,
.cke_button__male:before,
.cke_button__female:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
}

.cke_button__plusminus:before {
    content: '\00B1';
}

.cke_button__endash:before {
    content: '\2013';
}

.cke_button__male:before {
    content: '\2642';
}

.cke_button__female:before {
    content: '\2640';
}

.show-dirty {
    border: 2px solid red !important;
}

.pill {
    font-size: 8px;
    height: 20px;
    width: 40px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    color: #333a3f;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em; /* Opera 10.5, IE 9 */
    font-variant: small-caps;
    border: 1px solid #3d464c;
    background-color: #fff;
}

.pill-green {
    background-color: #1fff18;
    border-color: #5cb82e;
}

.pill-blue {
    background-color: #04d8ff;
    border-color: #16B5D2;
}

.pill-yellow {
    background-color: #faff18;
    border-color: #CAB80C;
}

.bottom-border {
    border-bottom: solid 1px #04d8ff;
}

.info-box {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    padding: 15px;
}

.search-type-control {
    width: 135px;
}

.superscript {
    vertical-align: super;
}

ul.breadcrumb {
    display: inline;
}

ul.breadcrumb li:before {
    padding-left: 10px;
    padding-right: 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb>li+li:before {
    padding-left: 10px;
    padding-right: 5px;
}

.vertical-centre-fixed {
    position: fixed;
    top: 45%;
    width: 45px;
}

.vertical-centre-fixed button {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.min-col {
    padding-left: 0;
    margin-left: 0;
    max-width: 40px;
}

.header-control {
    padding-top: 10px;
}

.header-control input {
    border-radius: 10px !important;
    width: 100px !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.header-control input:focus {
    border-radius: 10px !important;
    width: 250px !important;
}

.header-control button {
    border: none;
    background: transparent;
    margin-left: -30px !important;
    z-index: 99;
}

.header-control button:focus, .header-control button:hover {
    background: transparent !important;
}

.keybase-logo {
    margin-top: 1em;
    background-image: -webkit-linear-gradient(top, #2688c9, #89a1bb);
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 3px;
}

.keybase-logo img {
    height: 100%;
    width: 100%;
}

.panel .nav-tabs {
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}