/* Magenta Theme
================================= */
/* #E9004A (magenta) is the primary theme colour. Change this colour to change the theme look. */
/* #BA003B (magenta hover) */

/* Font import
================================= */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en);

/* Global
================================= */
body {
    background-color: #F8F8F8;
    color: #6a6c6f;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

/* Columns
================================= */
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* Scaffold
================================= */

.show-grid [class*="col-"] {
    background-color: red;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 80px;
    line-height: 40px;
}

#wrapper {
    margin: 0 0 0 180px;
    padding: 0;
    background: #edf0f5;
    border-left: 1px solid #e4e5e7;
    transition: all 0.4s ease 0s;
    position: relative;
    min-height: 100%;
}

/* Typography
================================= */

p, li, ul {
    color: #637073;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6em;
}

a {
    cursor: pointer;
    color: #34495e;
}

a > i {
    color: #9A9A9A;
}

a:hover, a:focus {
    color: #E9004A;
}

ul.pull-right {
    list-style-type: none;
}

li.divider {
    margin-top: 20px;
}

h4 {
    color: #E9004A;
}

.font-xsmall {
    font-size: 16px;
    line-height: 1.25;
    text-transform: none;
}

.font-xxsmall {
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
}

.font-xxxsmall {
    font-size: 11px;
    font-weight: 200
}

.heading-large {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111111111;
    margin-bottom: .55556em;
    margin-top: 1.25em;
    text-transform: none;
    color: #E9004A;
}

.heading-medium {
    border-bottom: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: .83333em;
    margin-top: 1.875em;
    text-transform: none;
}

.heading-small {
    border-bottom: inherit;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.3157894737;
    margin-bottom: .3125em;
    margin-top: 1.25em;
    text-transform: none;
}

.heading-xlarge {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.0416666667;
    margin-bottom: .6em;
    margin-top: .625em;
    text-transform: none;
}

.event__title {
    font-size: 14px;
    font-weight: 400;
    color: blue;
    text-transform: none;
}

.heading-underlined {
    border: 0 solid #e9004a;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

.header-link {
    padding: 18px 26px 17px 26px;
    font-size: 14px;
    float: left;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    margin-right: 15px;
    background: #f7f9fa;
    cursor: pointer;
}

#helpBlock {
    padding-bottom: 10px;
}

.help-block {
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.example {
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    padding: 30px 15px 15px;
    position: relative;
    background-color: white;
}

.example-code {
    background-color: #f9f2f4;
    border-bottom: 1px solid #bfc1c3;
    border-left: 1px solid #bfc1c3;
    border-right: 1px solid #bfc1c3;
    margin: -45px 0 45px;
    padding: 10px 15px;
}

.example:before {
    background: #bfc1c3;
    color: #FFF;
    content: "EXAMPLE";
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    left: 0;
    line-height: 1.4285714286;
    padding: .21053em .78947em;
    position: absolute;
    text-transform: none;
    top: 0;
}

.word-limit {
    max-width: 45em;
}

/* Layout control
================================= */

.padding-bottom-1 {
    padding-bottom: 1em;
}

.padding-bottom-2 {
    padding-bottom: 2em;
}

.padding-right-1 {
    padding-right: 1em;
}

.padding-left-1 {
    padding-left: 1em;
}

.padding-top-1 {
    padding-top: 1em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

/* Colours and Swatchs
================================= */

.swatch-colour {
    height: 70px;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.color--dark-grey {
    color: #9d9d9d;
}

.backgroundcolor--dark-grey {
    background-color: #9d9d9d;
}

.color--dark-red {
    color: #C44D34;
}

.backgroundcolor--dark-red {
    background-color: #C44D34;
}

.color--green {
    color: #006435;
}

.backgroundcolor--green {
    background-color: #006435;
}

.color--medium-blue {
    color: #2475A4;
}

.backgroundcolor--medium-blue {
    background-color: #2475A4;
}

.color--medium-grey {
    color: #637073;
}

.backgroundcolor--medium-grey {
    background-color: #637073;
}

.color--mellow-red {
    color: #DF3034;
}

.backgroundcolor--mellow-red {
    background-color: #DF3034;
}

.color--off-black {
    color: #212121;
}

.backgroundcolor--off-black {
    background-color: #212121;
}

.color--off-white {
    color: #F2F2F2;
}

.backgroundcolor--off-white {
    background-color: #F2F2F2;
}

.color--pink {
    color: #D0367D;
}

.backgroundcolor--pink {
    background-color: #D0367D;
}

.color--primary-red {
    color: #F26649;
}

.backgroundcolor--primary-red {
    background-color: #F26649;
}

.color--purple {
    color: #2E358B;
}

.backgroundcolor--purple {
    background-color: #2E358B;
}

.color--red {
    color: #B10E1E;
}

.backgroundcolor--red {
    background-color: #B10E1E;
}

.color--white {
    color: #fff !important;
}

.backgroundcolor--white {
    background-color: #fff;
}

.color--yellow {
    color: #FFBF47;
}

.backgroundcolor--yellow {
    background-color: #FFBF47;
}

/* -- The Red Crayon -- */
.color--crayon-red {
    color: #E9004A;
}

.backgroundcolor--crayon-red {
    background-color: #E9004A;
}

.color--crimson-glory {
    color: #BA003B;
}

.backgroundcolor--crimson-glory {
    background-color: #BA003B;
}

.color--nevada {
    color: #637073;
}

.backgroundcolor--nevada {
    background-color: #637073;
}

.color--pale-sky {
    color: #F8F8F8;
}

.backgroundcolor--pale-sky {
    background-color: #F8F8F8;
}

/* -- The Next Web theme -- */
.background-pomegranate {
    background-color: #ff3c1f;
}

.color-pomegranate {
    color: #ff3c1f;
}

.background-harley-davidson-orange {
    background-color: #D93218;
}

.color-harley-davidson-orange {
    color: #D93218;
}

.background-midnight {
    background-color: #26313b;
}

.color-midnight {
    color: #26313b;
}

.background-fiord {
    background-color: #4e5860;
}

.color-fiord {
    color: #4e5860;
}

.background-gull-grey {
    background-color: #a6abaf;
}

.color-gull-grey {
    color: #a6abaf;
}

.background-geyser {
    background-color: #d9e0e2;
}

.color-geyser {
    color: #d9e0e2;
}

.background-alabaster {
    background-color: #fafbfc;
}

.color-alabaster {
    color: #fafbfc;
}

/* -- The Word Press -- */
.background-lochmara {
    background-color: #0087BE;
}

.color-lochmara {
    color: #0087BE;
}

.background-venice-blue {
    background-color: #005082;
}

.color-venice-blue {
    color: #005082;
}

.background-madison {
    background-color: #2E4453;
}

.color-madison {
    color: #2E4453;
}

.background-catskill-white {
    background-color: #F3F6F8;
}

.color-catskill-white {
    color: #F3F6F8;
}

/* Navbar
================================= */
.navbar-default {
    background-color: #fff;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #e9004a;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #BA003B;
}

.navbar-default .navbar-brand {
    color: #e9004a;
}

.navbar-default .navbar-brand:hover {
    color: #BA003B;
}

/* Jumbotron
================================= */

#banner-image {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    min-height: 150px;
    text-align: center;
    width: 100%;

    height: 100%;
    background-color: #000000;
    color: #FFF;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(http://images.ala.org.au/store/7/4/4/e/a08a52f2-7bbe-40d9-8f1a-fe8acb28e447/original);
}

.jumbotron {
    background-color: #e9004a;
}

#banner-image > div > div > h2 {
    color: white;
}

/* Breadcrumb
================================= */
.breadcrumb > .active {
    color: #E9004A;
}

/* Btn (Button)
================================= */

.btn, .form-control, .panel, .list-group, .well, .span10X {
    border-radius: 3px; /*box-shadow:0 0 0;*/
}

.btn-default {
    background-color: #fff;
    border-color: #E9004A;
    color: #E9004A;
}

.btn-primary {
    background-color: #e9004a;
    border-color: #e9004a;
    color: #FFFFFF;
}

.btn-default:hover {
    border-color: #BA003B;
    color: #BA003B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #BA003B;
    border-color: #BA003B;
}

.button-toolbar {
    margin: 20px 0;
}

/* Panel
================================= */

.panel .panel-heading {
    background-color: #fff;
    border-color: #fff;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px 0 15px;
}

.well, .panel {
    border-color: rgba(233, 0, 74, 0.2); /*box-shadow:0 1px 0 #cfcfcf;*/
}

.panel-footer {
    background-color: transparent;
    border-top: 1px solid rgba(233, 0, 74, 0.2);
}

.panel-swatch {
    border-color: rgba(204, 204, 204, 0.4);
}

/* Navbar and Jumbotron
================================= */

#primary-nav.navbar {
    margin-bottom: 0;
    min-height: 70px;
    padding-top: 10px;
    border: 1px solid transparent;
}

.navbar li, .navbar p {
    font-size: 14px;
}

/* Main stats
================================= */

.main-stats {
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-stats__stat {
    padding: 25px;
    background: #fff;
    border: 1px solid rgba(233, 0, 74, 0.2);
}

.main-stats .main-stats__stat {
    border-right: none;
}

.main-stats > div:last-child {
    border-right: 1px solid rgba(233, 0, 74, 0.2);
}

.stat__details {
    color: #9a9a9a;
    font-size: 13px;
}

.stat__title {
    font-size: 14px;
    font-weight: 900;
    color: #9a9a9a;
    text-transform: uppercase;
}

.stat__number span {
    color: #9a9a9a;
    font-size: 18px;
}

.stat__number {
    color: #444;
    font-size: 34px;
    margin-top: 18px;
}

.main-stats__stat .progress {
    margin-bottom: 15px;
}

.progress {
    height: 6px;
    background: #e8e8e8;
    box-shadow: none;
    margin-top: 10px;
}

.stat__details i {
    display: inline-block;
    vertical-align: middle;
}

.progress-bar--anzac {
    background-color: #e09c4b;
}

.progress-bar--green {
    background-color: #55c69e;
}

.progress-bar--red {
    background-color: #f35958;
}

.progress-bar--skyblue {
    background-color: #60c6cf;
}

.color--anzac {
    color: #e09c4b !important;
}

/*.color--green{color: #55c69e !important;}*/
/*.color--red{color: #f35958 !important;}*/
.color--skyblue {
    color: #60c6cf !important;
}

/* Tabs
================================= */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #F8F8F8;
}

.nav-tabs > li.active > a {
    color: #E9004A;
    border: 1px solid #E9004A;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #e9004a;
}

/* Side menu (with search)
================================= */

.navbar-nav {
    margin: 0;
}

.side-menu {
    position: relative;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}

/*Grey bar on right side*/
.side-menu .navbar-nav li {
    /*border-bottom: 1px solid #e7e7e7;display: block;*/
    width: 100%;
}

/*.side-menu .navbar-nav li a {padding: 15px;}*/
/*.side-menu .navbar-nav li a .glyphicon {padding-right: 10px;}*/
.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

/*.side-menu #dropdown .indicator {float: right;}*/
.side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}

/*sub menu background colour*/
.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

/*Sub menu style*/
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}

/*.side-menu #dropdown .panel-body .panel > a {margin-left: -20px;padding-left: 35px;}*/
.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

/*magnifying glass*/
.side-menu .brand-name-wrapper {
    min-height: 50px;
}

/*Keeps magnifying glass in place when triggered*/
/*.side-menu .brand-name-wrapper .navbar-brand {display: block;}*/
/*.side-menu #search {position:relative;z-index:1000;}*/
.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
    border-bottom: 0;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
    margin: 0;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}

/*Search button tick*/

/* Comments (taxonoverflow styling)
================================= */

.page-profile .comment {
    float: none;
    width: auto;
}

.comment .alert {
    position: relative;
    padding: 0 0 1em 45px;
    overflow: hidden;
    border-top: 1px solid #f1f1f1;
}

.comment .alert:first-child {
    border-top: 0;
}

.comment .alert:first-child .body {
    padding-top: 0;
}

.alert {
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-top: 1px solid #ddd;
}

.comment .alert .body {
    padding: 1em 0 0;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 0;
}

.comment .alert .time {
    font-size: 12px;
    color: #bbb;
}

.comment .alert .author {
    padding: 0;
    font-weight: bold;
}

.comment .alert .comment-icon {
    position: absolute;
    top: 14px;
    left: 0;
    width: 28px;
    height: 28px;
    color: #bbb;
}

.comment-icon {
    font-size: 28px;
}

.comment-wrapper {
    margin-bottom: 0;
    border-top: 1px solid #f2f2f2;
}

.comment-wrapper:first-child {
    border-top: 0;
}

.comment-wrapper .body {
    padding: 1em 0 0;
    overflow: hidden;
    font-size: 14px;
    border-bottom: 0;
}

.comment-wrapper .time {
    font-size: 12px;
    color: #bbb;
}

.comment-wrapper .author {
    padding: 0;
    font-weight: bold;
}

.question-list {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
}

.cp {
    vertical-align: top;
    float: left;
    margin-right: 10px;
    width: 28%;
}

.votes {
    display: inline-block;
    font-size: 11px;
    color: #777;
}

.mini-counts {
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 300;
    color: #777;
}

.contrib-number {
    display: inline-block; /*color:#444*/;
    font-size: 34px;
    margin-top: 18px;
}

.contrib-details {
    color: #9a9a9a;
    font-size: 13px;
    text-align: center;
    display: block;
}

.contrib-stats {
    margin-bottom: 10px;
    text-align: center;
}

.contrib-question {
    font-size: 20px;
    font-weight: 900;
    color: #9a9a9a;
    margin-bottom: 0.2em;
}

.contrib-body {
    margin-bottom: .8em;
}

.contrib-time {
    font-size: 12px;
    color: #bbb;
    margin-bottom: .2em;
}

.ident-question {
    font-size: 16px;
    font-weight: 900;
    color: #9a9a9a;
    margin-bottom: 0.2em;
}

/* Pager
================================= */

.pagination > li > a, .pagination > li > span {
    color: #E9004A;
    background-color: #fff;
    border: 1px solid #E9004A;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #E9004A;
    border-color: #E9004A;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #E9004A;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #BA003B;
    background-color: #eee;
    border-color: #BA003B;
}

/* Footer
================================= */

footer p.lead {
    color: #E9004A;
    font-size: 24px;
}

p.lead {
    font-size: 24px;
}

ul.footer-nav.list-inline {
    padding-top: 2px;
}

.lead:nth-of-type(2) {
    font-size: initial;
    margin-bottom: 20px;
}

.link-list .heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.link-list {
    line-height: 1.8;
    list-style-type: none;
    margin: 0 0 2em;
    padding: 0;
}

.main-footer a {
    color: #637073;
}

.main-footer li, .main-footer p {
    font-size: 15px;
}

.main-footer-border {
    border-top: 1px solid #E9004A;
    height: 0;
    margin-bottom: 4em;
    width: 100%;
    opacity: 0.2;
}

.main-footer {
    /*background-color:#fff*/;
    margin: 100px 0 0;
    padding: 30px 0 0;
    font-size: .95em;
}

/* Social Icons
================================= */

.social li > a {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 35px;
    text-align: center;
    width: 35px;
}

.social li a .fa {
    font-size: 15px;
    padding-top: 0.65em;
    color: #fff;
}

/* Social Icons: Background Colours & Hovers
================================= */

li .soc-envelope {
    background-color: #6a6c6f;
}

li .soc-envelope:hover {
    background-color: #DA644E;
}

li .soc-facebook {
    background-color: #6a6c6f;
}

li .soc-facebook:hover {
    background-color: #4B73AE;
}

li .soc-google-plus {
    background-color: #6a6c6f;
}

li .soc-google-plus:hover {
    background-color: #494A4F;
}

li .soc-twitter {
    background-color: #6a6c6f;
}

li .soc-twitter:hover {
    background-color: #5CBBDC;
}

li .soc-rss {
    background-color: #6a6c6f;
}

li .soc-rss:hover {
    background-color: #ec5e1b;
}

li .soc-bell {
    background-color: #6a6c6f;
}

li .soc-bell:hover {
    background-color: #75ab0a;
}

/* Media Queries (Mobile First Method = only add rules to modify larger views)
================================= */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    /*#banner-image{min-height:150px;}*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    #banner-image, #banner-image-profile {
        min-height: 200px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}