<div class="{{ delSearchCtrl.layout == 'large' ? '' : 'form-inline header-control' }}">
    <div class="input-group">
        <input id="searchTerm"
               ng-model="delSearchCtrl.searchTerm"
               ng-enter="delSearchCtrl.search()"
               name="searchTerm"
               title="Enter a search term"
               placeholder="Search..."
               class="delegated-search-control form-control ignore-save-warning {{ delSearchCtrl.layout == 'large' ? 'input-lg' : 'input-sm' }}"
               autocomplete="on"
               type="text">
            <span class="input-group-btn">
                <button class="btn {{ delSearchCtrl.layout == 'large' ? 'btn-lg btn-primary' : 'btn-sm btn-default' }}"
                        type="button" ng-click="delSearchCtrl.search()"><span
                        class="fa fa-search"></span></button>
            </span>
    </div>
    <div ng-show="delSearchCtrl.layout == 'large'">
        <button class="btn btn-link toggle-link ignore-save-warning" ng-model="delSearchCtrl.showOptions" btn-checkbox>Options</button>
        <div ng-show="delSearchCtrl.showOptions" class="well">
            <div class="checkbox">
                <label for="includeArchived" class="inline-label">
                    <input id="includeArchived" type="checkbox" name="showLinked" class="ignore-save-warning"
                           ng-model="delSearchCtrl.searchOptions.includeArchived" ng-false-value="false">
                    Include archived profiles
                </label>
            </div>
        </div>
    </div>
</div>