<div class="form-horizontal">
    <div class="form-group">
        <label for="file" class="col-sm-3 control-label">Image *</label>

        <div class="col-sm-9">
            <input id="file" type="file" ngf-select="" ng-model="files" name="file"
                   accept="image/*" alt="preview" title="Image preview" required="true"
                   ng-required="true">
        </div>
    </div>

    <div class="form-group" ng-show="files[0] != null">
        <label class="col-sm-3 control-label">Preview</label>

        <div class="col-sm-9">
            <div class="upload-image-preview">
                <img ngf-src="files[0]" class="thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Title *</label>

        <div class="col-sm-9">
            <input id="title" type="text" ng-model="metadata.title" class="form-control"
                   required ng-required="true"/>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="dateCreated" class="col-sm-3 control-label">Date Taken</label>

        <div class="col-sm-9">
            <fallback-date-picker field-id="dateCreated" ng-model="metadata.dateCreated" />
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
                    <textarea id="description" ng-model="metadata.description"
                              class="form-control" rows="3" maxlength="500" ng-maxlength="500"></textarea>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="owner" class="col-sm-3 control-label" required>Owner</label>

        <div class="col-sm-9">
            <input id="owner" type="text" ng-model="metadata.creator"
                   class="form-control"
                   placeholder="Photographer/illustrator"/>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="rights" class="col-sm-3 control-label" required>Rights</label>

        <div class="col-sm-9">
            <input id="rights" type="text" ng-model="metadata.rights"
                   class="form-control"/>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="rightsHolder" class="col-sm-3 control-label" required>Rights Holder</label>

        <div class="col-sm-9">
            <input id="rightsHolder" type="text" ng-model="metadata.rightsHolder"
                   class="form-control" placeholder="e.g. {{opus.title}}"/>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="licence" class="col-sm-3 control-label" required>Licence *</label>

        <div class="col-sm-9">
            <select id="licence"
                    ng-options="licence.name for licence in licences | orderBy:'name'"
                    ng-model="metadata.licence" class="form-control" ng-required="true">
            </select>
        </div>
    </div>
</div>

<div class="col-md-12">
    <p class="small pull-right">
        Fields marked with an asterisk (*) are mandatory.
    </p>
</div>

<div class="col-md-12">
    <button class="btn btn-primary pull-right" ng-if="!uploadOnEvent" ng-click="doUpload()" ng-disabled="!files || file.length == 0">
        Upload
    </button>
</div>