.blues {
    light:      #0087BE;
    dark:       #005082;
    very-dark:  #101C62;
}

.show-grid [class*="col-"] {
    background-color: blue;
}

a {
    color: #0087BE;

}

a:hover, a:focus {
    color: #0087BE;
}

h4, h5, h6 {
    color: #0087BE;
}

.heading-large {
    color: #0087BE;
}

.heading-underlined {
    border-color: #0087BE;
}

.navbar-default .navbar-nav > li > a {
    color: #0087BE;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #005082;
}

.navbar-default .navbar-brand {
    color: #0087BE;
}

.navbar-default .navbar-brand:hover {
    color: #005082;
}

.breadcrumb > .active {
    color: #0087BE;
}

#resourceList input[type=text] {
    border-color: #0087BE;
}

.btn-default, .dropdown-toggle {
    background-color: #fff;
    border-color: #0087BE;
    color: #0087BE;
}

.btn-mini {
    background-color: #fff;
    border-color: #0087BE;
    color: #0087BE;
}

.btn-primary {
    background-color: #0087BE;
    border-color: #0087BE;
    color: #FFFFFF;
}

.btn-default:hover {
    border-color: #005082;
    color: #005082;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #005082;
    border-color: #005082;
}

.main-stats__stat {
    border-color: rgba(0, 135, 190, 0.2);
}

.main-stats > div:last-child {
    border-color: rgba(0, 135, 190, 0.2);
}

.main-stats .main-stats__stat {
    border-color: rgba(0, 135, 190, 0.2);
}

.nav-tabs > li.active > a {
    color: #0087BE;
    border: 1px solid #0087BE;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #0087BE;
}

.pagination > li > a, .pagination > li > span {
    color: #0087BE;
    background-color: #fff;
    border: 1px solid #0087BE;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #0087BE;
    border-color: #0087BE;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #0087BE;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #005082;
    background-color: #eee;
    border-color: #005082;
}

footer p.lead {
    color: #0087BE;
    font-size: 24px;
}

.main-footer-border {
    border-top-color: #0087BE;
}

.well, .panel {
    border-color: rgba(0, 135, 190, 0.2);
}

.panel-footer {
    border-color: rgba(0, 135, 190, 0.2);
}

.comments-panel .panel, .comments-panel .panel-heading {
    background-color: #F1F0F3 !important;
}