<div ng-if="!taxonomy || taxonomy.length == 0">
    The taxonomy for this profile is unknown.
</div>

<div ng-if="layout == 'tree'">
    <div class="pull-right">
        <a href="" class="small" ng-click="hierarchialiseTaxonomy()"><span class="fa fa-refresh">&nbsp;</span>Reset</a>
    </div>
    <div class="clearfix"></div>

    <ul class="{{ layout == 'horizontal' ? 'breadcrumb' : layout == 'tree' ? 'tree' : '' }}">
        <li ng-repeat="taxon in hierarchy" ng-if="taxonomy.length >= limit && (limit < 0 || $index >= taxonomy.length - limit)">
            <span ng-include src="'/profileEditor/taxon.htm'"></span>
        </li>
    </ul>
</div>

<ul ng-if="layout != 'tree'"  class="{{ layout == 'horizontal' ? 'breadcrumb' : layout == 'tree' ? 'tree' : '' }}">
    <li ng-repeat="taxon in taxonomy" ng-if="limit < 0 || $index >= taxonomy.length - limit">
        <span ng-include src="'/profileEditor/taxon.htm'"></span>
    </li>
</ul>


<div ng-if="taxonomy[taxonomy.length - 1].rank == 'species' && showInfraspecific && layout != 'horizontal' && layout != 'tree' && taxonomy[taxonomy.length - 1].children.length > 0" class="padding-top-1">
    <h4>Infraspecific taxa</h4>
    <ul>
        <li ng-repeat="profile in taxonomy[taxonomy.length - 1].children">
            <a href="{{contextPath}}/opus/{{ opusId }}/profile/{{ profile.scientificName }}"
               target="_self">{{profile.scientificName}}</a>
        </li>
    </ul>
</div>