<div ng-if="!taxonomyCtrl.taxonomy || taxonomyCtrl.taxonomy.length == 0">
    The taxonomy for this profile is unknown.
</div>

<div class="pull-right">
    <a href="" class="small" ng-click="hierarchialiseTaxonomy()"><span class="fa fa-refresh">&nbsp;</span>Reset</a>
</div>
<div class="clearfix"></div>

<ul class="tree">
    <li ng-repeat="taxon in hierarchy"
        ng-if="taxonomyCtrl.taxonomy.length >= limit && (limit < 0 || $index >= taxonomyCtrl.taxonomy.length - limit)">
        <span ng-include src="'/profileEditor/taxononomy-tree-item.htm'"></span>
    </li>
</ul>