<!-- template for each list item -->
<span ng-if="layout != 'tree'">
    <span ng-if="taxon.profileId">
        <a href="{{contextPath}}/opus/{{opusId}}/profile/{{taxon.profileName}}"
           class="{{ layout == 'horizontal' ? 'font-xxsmall' : '' }}"
           target="_self">
            <span ng-if="includeRank  && taxon.rank">{{ taxon.rank | capitalize }}: </span>{{ taxon.name }}
        </a>
    </span>
    <span ng-if="!taxon.profileId" class="{{ layout == 'horizontal' ? 'font-xxsmall' : '' }}">
        <span ng-if="includeRank  && taxon.rank">{{ taxon.rank | capitalize }}: </span>{{ taxon.name }}
    </span>

    <span ng-if="showChildren && taxon.childCount > 0 && (!showChildrenForLastOnly || $last)"
          class="padding-left-1">
        <a href="" class="fa fa-list-ul"
           title="Show members {{ taxon.childCount }} of {{ taxon.rank }} {{ taxon.name }}"
           ng-click="showAllSubordinateTaxaPopup(taxon.rank, taxon.name, taxon.childCount)"></a>
    </span>

    <span ng-if="taxon.rank == 'species' && showInfraspecific && layout == 'horizontal' && $last && taxon.childCount > 0"
          class="btn-group breadcrumb-dropdown" dropdown>
        <a href="" class="fa fa-list-ul dropdown-toggle" dropdown-toggle
           ng-click="showAllSubordinateTaxaList(taxon)"
           title="Show members {{ taxon.childCount }} of {{ taxon.rank }} {{ taxon.name }}"></a>

        <ul class="dropdown-menu" role="menu">
            <span class="fa fa-spin fa-spinner" ng-show="taxon.loading"></span>
            <li ng-repeat="profile in taxon.children">
                <a href="{{contextPath}}/opus/{{ opusId }}/profile/{{ profile.scientificName }}"
                   target="_self">{{profile.scientificName}}</a>
            </li>
        </ul>
    </span>
</span>

<span ng-if="layout == 'tree'">
    <span ng-if="taxon.childCount > 0" title="Click to view subordinate taxa">
        <a href="" ng-click="loadSubordinateTaxa(taxon.offset, taxon, true)"
           target="_self">
            <span class="fa {{ taxon.loading ? 'fa-spin fa-spinner' : taxon.expanded ? 'fa-minus' : 'fa-plus' }} small"></span>
        </a>
        <span ng-include src="'/profileEditor/taxonNode.htm'"></span>
    </span>
    <span ng-if="!taxon.childCount || taxon.childCount == 0">
        <span ng-include src="'/profileEditor/taxonNode.htm'"></span>
    </span>

    <div class="form-group" ng-form="filterForm"
         ng-if="!taxon.showingCurrentProfileOnly && (taxon.children.length >= pageSize || taxon.filter) && taxon.expanded">
        <label for="filter" class="screen-reader-label">Filter by name containing...</label>
        <input id="filter" type="text"
               class="form-control input-sm ignore-save-warning tree-input"
               placeholder="Name containing..."
               ng-enter="loadSubordinateTaxa(taxon.offset, taxon, false)"
               ng-change="filterChanged(taxon)"
               name="filter"
               autocomplete="off"
               ng-required="true"
               ng-model="taxon.filter">
        <button type="submit" class="btn btn-primary btn-sm input-append"
                ng-click="loadSubordinateTaxa(taxon.offset, taxon, false)" ng-disabled="filterForm.$invalid">
            <span class="fa fa-filter"></span>
        </button>
    </div>

    <ul ng-if="taxon.children.length > 0 && taxon.expanded">
        <li ng-if="taxon.showingCurrentProfileOnly">
            <a ng-href="" ng-click="loadSubordinateTaxa(taxon.offset, taxon, false)"><span class="small">Show all {{ taxon.name }}...</span>
            </a>
        <li ng-repeat="taxon in taxon.children">
            <span ng-include src="'/profileEditor/taxon.htm'"></span>
        </li>
        <li ng-if="!taxon.showingCurrentProfileOnly && taxon.offset > -1 && taxon.mightHaveMore">
            <a ng-href="" ng-click="loadSubordinateTaxa(taxon.offset, taxon, false)"><span class="small">View more...</span>
        </a>
    </ul>
</span>